.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    padding-right: 1px;
    padding-left: 1px;
}
.banner{
    width: 100%;
    height: 400px;
    color: white;
    background: url("../img/banner.jpg");
}
.banner_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #8b8989;
}
.banner_title{
    width: 100%;
    height: 350px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.banner_title_sub{
    position: relative;
    top: 35%;
}
.banner_title_sub p{
    font-size: 50px;
}

.page_list{
    width: 100%;
    color: #454545;
    height: auto;
    background: rgba(230, 230, 230, 0.5);
}
.page_list_entry{
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}
.page_list_entry p:first-child{
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
}
.page_list_entry p:nth-child(2){
    color: #575757;
    font-size: 15px;
}
.page_list_entry p:nth-child(3){
    color: #7a7a7a;
}

.right_list{
    width: 100%;
    height: auto;
    color: #454545;
    background: rgba(230, 230, 230, 0.5);
}